.about_header {
    position: relative;
    margin: .5rem auto .1rem;
    width: 50%;
    height: 3rem;
    border-radius: .5rem;
    border: .2rem solid #9CF;
    display: flex;
    background-color: #c9d4fb;
    align-items: center;
    flex-direction: column;
    transition: .2s;
    overflow: hidden;
}
.about_header img {
    position: relative;
    height: 100%;
    border-radius: .3rem;
}
.header_text {
    position: absolute;
    margin: .8rem;
    z-index: 100;
    padding: 0 .2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: .2rem;
}
.about_header .header_text h1 {
    color: #9CF;
    text-shadow: .02rem .02rem .02rem rgba(0, 0, 0, 0.7);
    font-size: .65rem;
}
.about_header:hover {
    margin: .4rem auto;
    transform: translateX(-0.1rem);
    box-shadow: .2rem .2rem #FFF;
}
.about_header:hover ~ .info_box {
    top: 5.15rem;
    opacity: 0.5;
}
.info_box {
    transition: .2s;
    margin: .5rem auto;
    width: 50%;
    background-color: #FFF;
    border-radius: .3rem;
    padding-top: .2rem;
    padding-bottom: .7rem;
    opacity: 0.9;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
    0px 0px 0px rgba(255,255,255,1),
    inset .18rem .18rem .3rem rgba(0,0,0,0.1),
    inset -0.18rem -0.18rem .3rem rgba(255,255,255,.1);
    background-color: #CCCCFF;
}
.info_box h2 {
    text-align: center;
    position: relative;
    top: .2rem;
    margin: .25rem .4rem 0 .4rem;
    border-bottom: .01rem solid rgba(255,255,255,.4);
    font-size: .25rem;
    padding-bottom: .05rem;
}
.info_box .detail_box {
    display: flex;
    flex-direction: column;
    height: .55rem;
    width: 1.3rem;
    margin: .5rem .3rem 0;
    background-color: #CCCCFF;
    border-radius: .1rem;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,0.1), -0.1rem -0.1rem .3rem rgba(255,255,255,.4);
    transition: box-shadow .2s ease-in-out;
}
.detail_box a, .people a {
    text-decoration: none;
    line-height: .55rem;
    letter-spacing: 0;
    color: #000;
    text-align: center;
    font-size: .19rem;
    position: relative;
    display: flex;
    align-items: center;
}
.detail_box a img, .people a img {
    float: left;
    margin-left: .1rem;
    width: .35rem;
    height: .35rem;
    border-radius: .2rem;
}
.detail_box:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
    0px 0px 0px rgba(255,255,255,.1),
    inset .1rem .1rem .3rem rgba(0,0,0,0.1),
    inset -0.1rem -0.1rem .3rem rgba(255,255,255,.1);
    transition: box-shadow .2s ease-in-out;
}
.detail_box:hover a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.people {
    height: .55rem;
    width: .55rem;
    margin: .5rem .4rem 0;
    background-color: #CCCCFF;
    border-radius: .1rem;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,0.1), -0.1rem -0.1rem .3rem rgba(255,255,255,.4);
    transition: .2s;
}
.people a span{
    opacity: 0;
    transform: translateX(-0.8rem);
    transition: .2s;
}
.people:hover {
    width: 1.7rem;
    margin: .5rem 0 0;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
    0px 0px 0px rgba(255,255,255,.1),
    inset .1rem .1rem .3rem rgba(0,0,0,0.1),
    inset -0.1rem -0.1rem .3rem rgba(255,255,255,.1);
}
.people:hover a {
    text-decoration: none;
}
.people:hover a span{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transform: translateX(0);
}
.name {
    font-size: .18rem;
}
