.footer {
  position: relative;
  margin: 1rem auto;
  top: 0;
  width: 90%;
  border-radius: .3rem;
  padding: .4rem;
  border: .1rem dashed #CCCCFF;
  transition: .2s;
  background-color: #FFF;
  display: flex;
  justify-content: left;
  font-size: .14rem;
}
.footer:hover{
  transition: .2s;
  top: -.2rem;
  box-shadow: 0px .1rem .18rem .18rem rgba(0, 0, 0, 0.3);
}
.footer .copyright-text {
    padding-top: .1rem;
}
.footer a {
    color: #fff;
}
.footer:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
}
.footer_text {
    padding-right: 20%;
    padding-left: .15rem;
}
.go-top {
    background-color: #CCCCFF;
    bottom: .4rem;
    right: .4rem;
    font-size: .22rem;
    display: none;
    position: fixed;
    text-decoration: none;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.go-top:hover {
    background: #99CCFF;
    color: #fff;
}

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:fixed;
    bottom: 0;
    left: 0;
    margin: .2rem;
}
.msc_player {
    position: relative;
    width: 2.3rem;
    background: #FBFBFB;
    border: .02rem solid #FFF;
    border-radius: .3rem;
    padding: .15rem .25rem;
    box-shadow: inset .1rem .1rem .2rem rgba(0,0,0,0.1),
                inset -.1rem -.1rem .2rem rgba(255,255,255,1);
}
.msc_title_bg {
    transition: .2s;
    background: #FFF;
    padding: 0 .15rem .2rem;
    opacity: 0;
    border-radius: .15rem;
    transform: translateY(.5rem);
}
.msc_title {
    font-weight: 400;
    color: #9CF;
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    width: 1.4rem;
}
.msc_btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.msc_btns span {
    width: .35rem;
    height: .35rem;
    transition: .2s;
    position: relative;
    border-radius: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: .1rem .1rem .1rem rgba(0,0,0,0.1), -0.1rem -0.1rem 0.1rem rgba(255,255,255,1);
}

.msc_btns span:hover {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
                0px 0px 0px rgba(255,255,255,1),
                inset .1rem .1rem .2rem rgba(0,0,0,0.1),
                inset -0.1rem -0.1rem .2rem rgba(255,255,255,1);
}
.msc_btns span.msc_play {
    width: .5rem;
    height: .5rem;
}
.msc_btns span img {
    width: .2rem;
}
.msc_btns span.msc_play img { 
    width: .4rem;
}