/*色卡：
  紫 #CCCCFF
  白 #FFFFFF
  蓝 #99CCFF
*/
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.bgWrap {
    position: relative;
    height: 7.5rem;
    width: 14.5rem;
    margin: .6rem auto;
    border: .3rem solid #99CCFF;
    border-radius: .7rem;
    object-fit: cover;
    box-shadow: .1rem .1rem .1rem .1rem rgb(0 0 0 / 10%);
    background: url(../image/index/final_back.jpg);
}
.poster__concept {
  height: 7.5rem;
  margin-left: 6.6rem;
}
.poster__text {
  opacity: 0.7;
  position: absolute;
  top: .45rem;
  left: 1.3rem;
  height: 6rem;
  width: 4rem;
  border-radius: .3rem;
  background-color: #FFFFFF;
  padding: .3rem;
  transition: .2s;
}
.poster__text h2 {
  text-align: center;
  padding-bottom: .3rem;
}
.poster__text:hover {
  top: .55rem;
  left: 1.4rem;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1),
  0px 0px 0px rgba(255,255,255,0.3),
  inset .18rem .18rem .2rem rgba(0,0,0,0.1),
  inset -0.18rem -0.18rem .2rem rgba(255,255,255,0.3);
  transition: .2s;
}
.king {
  margin-top: 1rem;
  padding-top: .9rem;
  position: relative;
  height: 19.8rem;
  background: url(../image/back2.jpg);
}
.king li {
  position: relative;
  float: left;
  width: 1.05rem;
  height: 6rem;
  margin-right: .1rem;
}
.king li.current {
  width: 8rem;
  height: 5.3rem;
}
.king li.current .big {
  display: block;
}
.row {
  margin-bottom: .7rem;
  width: 45%;
  height: 28%;
  border-radius: .5rem;
  background-color: #FFFFFF;
  border: .3rem double #CCCCFF;
  transition: .2s;
}
.row:hover {
  transition: .2s;
  width: 47%;
  height: 30%;
  box-shadow: .1rem .1rem .18rem .18rem rgba(0, 0, 0, 0.3);
}
.row1 {
  float: left;
  margin-left: 15%;
}
.row1:hover {
  margin-left: 14%;
}
.side__img1 {
  float: left;
  position: relative;
  margin-left: 1rem;
  height: 5rem;
  box-shadow: .1rem .15rem rgba(0, 0, 0, 0.1);
}
.row2 {
  float: right;
  margin-right: 15%;
}
.side__img2 {
  float: right;
  position: relative;
  margin-right: 1rem;
  height: 5rem;
  box-shadow: -0.1rem .15rem rgba(0, 0, 0, 0.1);
}
.row2:hover {
  margin-right: 14%;
}
.new {
    background: url(../image/index/news.jpg);
    padding-top: 1rem;
    padding-bottom: .01rem;
    width: 100%;
    position: relative;
}
.new h3 {
  color: gray;
  position: relative;
  margin: auto;
  top: .5rem;
  font-size: .5rem;
  font-weight: 400;
  text-align: center;
}
.news__tab {
  position: relative;
  margin: auto;
  top: 0;
  height: 4.7rem;
  width: 6rem;
  background-color: #FFFFFF;
  border-radius: .5rem;
  border: .1rem dashed #99CCFF;
  transition: .2s;
}
.item li:hover {
  background: rgba(153, 204, 255, 0.5);
  cursor: pointer;
}
.item li:hover a {
  text-decoration: none;
}
.news__tab:hover {
  transition: .2s;
  top: -0.2rem;
  box-shadow: 0px .1rem .18rem .18rem rgba(0, 0, 0, 0.3);
}
.news__tab__list {
  position: relative;
  top: .8rem;
  width: 5.8rem;
  height: 3.2rem;
}
.news__tab__list__ul {
  position: relative;
  height: .4rem;
  width: 6rem;
  padding: 0 .4rem;
  border-bottom: 0.03rem solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0.05rem;
}
.news__tab__list__ul li {
  position: relative;
  padding: .1rem 0.19rem 0.02rem;
  font-size: 0.18rem;
  text-align: center;
  cursor: pointer;
  float: left;
}
.currenters {
  color: #9CF;
  border-bottom: 0.03rem solid #9CF;
}
.tab_con {
    position: relative;
    width: 5.4rem;
    height: 2.65rem;
    margin: 0 .2rem 0;
}
.tab_con a {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  height: .5rem;
  border-bottom: .02rem solid rgba(255, 255, 255, 0.08);
  box-sizing: content-box;
  font-size: .16rem;
  color: #fff;
}
.item_p {
  width: 4.8rem;
  height: .2rem;
  line-height: .2rem;
  padding-left: .24rem;
}
.item li {
  border-radius: .3rem;
}