.before_B-f {
    position: absolute;
    left: 4.1rem;
    top: 2.15rem;
    margin: auto;
    width: 10rem;
    height: 2rem;
    background-color: #FFF;
    z-index: 100;
    opacity: 0;
}
.Ins_name {
    position: absolute;
    top: 2.7rem;
    left: 8.1rem;
    text-align: center;
    font-size: .5rem;
    color: #FFF;
    text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, 0.5);
    transition: .2s;
    opacity: 0;
}
.before_B-f:hover + .Ins_name{
    transition: .2s;
    opacity: 1;
    transform: translateY(-0.7rem);
}
.before_B-f:hover ~ .B-f {
    transform: translateY(-0.3rem);
}
.B-f {
    transform: translateY(-1rem);
    position: relative;
    top: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
    height: 7rem;
    margin: .5rem auto 1.5rem;
}
.B-f__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow {
    opacity: 1;
    margin-top: .25rem;
    width: .7rem;
    height: .7rem;
    border-top: .2rem solid #FFF;
    border-right: .2rem solid #FFF;
}
.arrow_box {
    border-radius: .2rem;
    transition: .2s;
    width: .8rem;
    height: 1.2rem;
    margin: .5rem;
    background-color: #99CCFF;
    box-shadow: .1rem .1rem .18rem rgba(0, 0, 0, 0.3);
}
.left_arrow {
    margin-left: .2rem;
    transform: rotate(-135deg);
}
.light {
    position: relative;
    width: 10rem;
    height: 6rem;
    border-radius: .5rem;
    border: .3rem solid #99CCFF;
    box-shadow: .18rem .18rem .18rem rgba(0, 0, 0, 0.5);
}
.InsB {
    position: relative;
    transform: translateX(-5.27rem);
    width: .55rem;
    height: .55rem;
    opacity: 0.6;
    border-radius: .3rem;
    border: .05rem solid #FFF;
    transition: .2s;
    z-index: 999;
}
.InsB:hover {
    transition: .2s;
    opacity: 0.8;
}
.right_arrow {
    float: right;
    margin-right: .2rem;
    transform: rotate(45deg);
}
.arrow_box:hover {
    width: 1.4rem;
    transition: .2s;
}
.after_B-f {
    position: absolute;
    left: 4.1rem;
    top: 6.15rem;
    margin: auto;
    width: 10rem;
    height: 2rem;
    background-color: #FFF;
    z-index: 100;
    opacity: 0;
}
.add_to_cmd {
    position: absolute;
    text-align: center;
    top: 6.9rem;
    left: 7.6rem;
    font-size: .5rem;
    color: #FFF;
    text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, 0.5);
    transition: .2s;
    opacity: 0;
}
.after_B-f:hover ~ .B-f{
    transform: translateY(-1.7rem);
}
.after_B-f:hover + .add_to_cmd{
    transition: .2s;
    opacity: 1;
    transform: translateY(.7rem);
}
.rewards {
    position: relative;
    left: -9.2rem;
    transition: .2s;
    background-color: #FFF;
    width: 1.18rem;
    border-radius: .1rem;
    border: .05rem solid #CCCCFF;
    padding: .05rem;
    transform: translateX(1rem);
    opacity: 0;
    z-index: 998;
}
.rewards img {
    width: .4rem;
}
.fucking_block {
    position: relative;
    left: -7.95rem;
    transition: .2s;
    background-color: #CCCCFF;
    width: .3rem;
    height: .2rem;
    border-radius: .03rem;
    transform: translateX(1rem);
    opacity: 0;
    z-index: 998;
}
.InsB:hover ~ .rewards, .InsB:hover ~ .fucking_block {
    transition: .2s;
    transform: translateX(0);
    opacity: 1;
}